/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  max-width: 1296px;
  margin: 0 auto;
  line-height: 1.2;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #000;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card {
  width: 40%;
  margin-bottom: 2rem;
}

.card-img {
  border-radius: 8px;
  cursor: pointer;
}

.card-body {
  margin-left: 16px;
  margin-top: 16px;
}
.card-body h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
}
.card-body p {
  color: #919191;
}
.card-body ul {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}
.card-body ul li {
  background-color: #f1f1f1;
  padding: 4px 12px;
  margin-bottom: 0.5rem;
  margin-right: 16px;
  border-radius: 16px;
}
.card-body ul li:hover {
  background-color: black;
  color: #f1f1f1;
}

.page {
  margin-top: 2rem;
}
.page ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.page ul .active {
  background-color: black;
  color: #f1f1f1;
  border-radius: 4px;
}
.page ul li {
  padding: 0.55rem 0.75rem;
  cursor: pointer;
}
.page ul li:hover {
  background-color: black;
  color: #f1f1f1;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 90%;
  }
  .page li {
    font-size: 1.25rem;
  }
}
.footer-container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 2.5rem 0;
}

.footer-bg {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.left-zone {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.right-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.btn {
  background-color: white;
  border: solid 1px #C1C1C1;
  border-radius: 8px;
  color: #3B3B3B;
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 8px 24px;
}
.btn:hover {
  background-color: black;
  color: white;
}

.btn-dark {
  background-color: black;
  color: white;
}
.btn-dark:hover {
  background-color: white;
  color: #3B3B3B;
}

.footer-email {
  color: #919191;
}

.logo {
  width: 7.5rem;
}

.footer-icon {
  width: 20%;
}

@media screen and (max-width: 768px) {
  .footer-bg {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true");
  }
  .left-zone {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .right-zone {
    width: 80%;
  }
  .footer-icon {
    width: 12%;
  }
}
.banner-container {
  background-color: #FAFAFA;
  margin-bottom: 5rem;
  line-height: 1.5;
  padding: 4rem;
  margin-top: 96px;
}

.banner-title {
  font-size: 24px;
  text-align: center;
  position: relative;
  padding: 2rem 1rem;
}
.banner-title:before, .banner-title:after {
  content: "";
  position: absolute;
  width: 25%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}
.banner-title:before {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-left.png?raw=true");
  top: -20px;
  left: 160px;
}
.banner-title:after {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-right.png?raw=true");
  top: 80px;
  right: 0;
}
.banner-title span {
  position: relative;
  z-index: 1;
  padding-right: 8px;
}
.banner-title span:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 25%;
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/mark.png?raw=true");
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

.banner-info {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3rem;
  color: #3B3B3B;
}
.banner-info p {
  width: 25%;
  text-align: center;
}
.banner-info p span {
  color: #5B5B5B;
}
.banner-info p span:after {
  content: "";
  display: block;
  border-bottom: 2px solid #C1C1C1;
  width: 10%;
  margin: 0 auto;
  margin-top: 0.1rem;
  margin-bottom: -1rem;
}

@media screen and (max-width: 768px) {
  .banner-title:before {
    top: -45px;
    left: 38%;
  }
  .banner-title:after {
    display: none;
  }
  .banner-title p {
    font-size: 20px;
    text-align: center;
  }
  .banner-info {
    gap: 1.5rem;
  }
  .banner-info p {
    width: 70%;
  }
  .banner-info p span:after {
    width: 20%;
  }
}
.header-container {
  width: 100%;
  background-color: #fff;
  height: 96px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  z-index: 999;
}
.header-container .logo {
  height: 40px;
}

.header-menu {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.header-menu li {
  padding: 4px 8px;
  position: relative;
}
.header-menu li:hover {
  font-weight: bold;
}
.header-menu li:hover:before, .header-menu li:hover:after {
  position: absolute;
  -webkit-box-reflect: below 10px;
}
.header-menu li:hover:before {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  top: 0;
  right: 0;
  border-right: 1px solid #919191;
  border-top: 1px solid #919191;
}
.header-menu li:hover:after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  top: 0;
  left: 0;
  border-left: 1px solid #919191;
  border-top: 1px solid #919191;
}

.menu-control, .menu-btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .header-container {
    justify-content: space-between;
  }
  .menu-btn {
    width: 40px;
    height: 40px;
    margin-right: 24px;
    display: inline;
    cursor: pointer;
  }
  .menu-btn .close {
    display: none;
  }
  .header-menu {
    display: none;
    text-align: center;
  }
  .menu-control:checked + .menu-btn .open {
    display: none;
  }
  .menu-control:checked + .menu-btn .close {
    display: inline;
  }
  .menu-control:checked ~ .header-menu {
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
  }
  .menu-control:checked ~ .header-menu li {
    width: 15%;
  }
}/*# sourceMappingURL=all.css.map */