/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  max-width: 1296px;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card {
  width: 40%;
  margin-bottom: 2rem;
}

.card-img {
  border-radius: 8px;
  cursor: pointer;
}

.card-body {
  margin-left: 16px;
  margin-top: 16px;
}
.card-body h2 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 8px;
}
.card-body p {
  color: #919191;
  font-size: 16px;
}
.card-body ul {
  margin-top: 24px;
}
.card-body ul li {
  background-color: #f1f1f1;
  display: inline;
  padding: 4px 12px;
  margin-right: 16px;
  border-radius: 16px;
}
.card-body ul li:hover {
  background-color: black;
  color: #f1f1f1;
}

.page {
  margin-top: 2rem;
}
.page ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.page ul .active {
  background-color: black;
  color: #f1f1f1;
  border-radius: 4px;
}
.page ul li {
  padding: 0.55rem 0.75rem;
  cursor: pointer;
}
.page ul li:hover {
  background-color: black;
  color: #f1f1f1;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .card {
    width: 90%;
  }
  .page li {
    font-size: 1.25rem;
  }
}
.footer-container {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 2.5rem 0;
}

.footer-bg {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-lg.png?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.left-zone {
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.right-zone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}

.btn {
  background-color: white;
  border: solid 1px #C1C1C1;
  border-radius: 8px;
  color: #3B3B3B;
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 8px 24px;
}
.btn:hover {
  background-color: black;
  color: white;
}

.btn-dark {
  background-color: black;
  color: white;
}
.btn-dark:hover {
  background-color: white;
  color: #3B3B3B;
}

.footer-email {
  color: #919191;
}

.logo {
  width: 7.5rem;
}

.footer-icon {
  width: 20%;
}

@media screen and (max-width: 768px) {
  .footer-bg {
    background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/footer-bg-sm.png?raw=true");
  }
  .left-zone {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .right-zone {
    width: 80%;
  }
  .footer-icon {
    width: 12%;
  }
}/*# sourceMappingURL=all.css.map */