
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

body{
	font-family: "Noto Sans TC", sans-serif;
	max-width: 1296px;
  margin: 0 auto;
  line-height: 1.2;
  }


img{
    width: 100%;
    height: auto;
}

a{
  text-decoration: none;
  color: #000;
}
