
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

body{
	font-family: "Noto Sans TC", sans-serif;
	max-width: 1296px;
    margin: 0 auto;
  }

img{
    width: 100%;
    height: auto;
}
