.header-container{
    width: 100%;
    background-color: #fff;
    height: 96px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 999;
    

    .logo{
        height: 40px;
    }
}

.header-menu{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;

    li{
        padding: 4px 8px;
        position: relative;


        &:hover{
            font-weight: bold;
        

        &:before,
        &:after{
            position: absolute;
            -webkit-box-reflect: below 10px;
        }


        &:before{
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            top:0;
            right: 0;
            border-right: 1px solid #919191;
            border-top: 1px solid #919191;
        }

        




        &:after{
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            top:0;
            left: 0;
            border-left: 1px solid #919191;
            border-top: 1px solid #919191;
        }
        }
    }
}

.menu-control,.menu-btn{
    display: none;
}

@media screen and (max-width: 768px) { 

    .header-container{
        justify-content: space-between;
    }

    .menu-btn {
        width: 40px;
        height: 40px;
        margin-right: 24px;
        display: inline;
        cursor: pointer;
        
        .close{
            display: none;
        }
    }

    .header-menu{
        display: none;
        text-align: center;
    
    }

    .menu-control:checked + .menu-btn .open{
        display: none;
    }

    .menu-control:checked + .menu-btn .close{
        display: inline;
    }
    
    .menu-control:checked ~.header-menu{
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;
        
        li{
            width:15%;
        }



    }

}