.header-container{
    width: 100%;
    background-color: #fff;
    height: 96px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 999;
    

    .logo{
        height: 40px;
    }
}

.header-menu{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 40px;

    li{
        &:hover{
            font-weight: bold;
        }
    }
}

.menu-control,.menu-btn{
    display: none;
}

@media screen and (max-width: 768px) { 

    .header-container{
        justify-content: space-between;
    }

    .menu-btn {
        width: 40px;
        height: 40px;
        margin-right: 24px;
        display: inline;
        cursor: pointer;
        
        .close{
            display: none;
        }
    }

    .header-menu{
        display: none;
        text-align: center;
    
    }

    .menu-control:checked + .menu-btn .open{
        display: none;
    }

    .menu-control:checked + .menu-btn .close{
        display: inline;
    }
    
    .menu-control:checked ~.header-menu{
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 2rem;

    }

}